/* Vars */

:root {
  --white: #fff;
  --main-black: #111;
  --aqua: #00c2ff;
}

/* Common styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-black);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1540px;
  padding: 0 50px;
  margin: 0 auto;
}

.btn {
  width: 206px;
  height: 65px;
  border: 2px solid var(--aqua);
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  background: none;
  color: var(--white);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

/* Header */

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 50px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-size: 21px;
  line-height: 31px;
  border-bottom: 1px solid transparent;
  color: var(--white);
  transition: all 0.5s;
}

.nav__link:hover {
  border-bottom: 1px solid var(--aqua);
  color: var(--aqua);
}

.header__social {
  display: flex;
  align-items: center;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

/* Hero */

.hero {
  object-fit: cover;
  position: relative;
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: -105px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("../img/fractal.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__inner {
  padding-top: 190px;
}

.hero__subtitle {
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  color: var(--white);
}

.hero__title {
  max-width: 890px;
  font-size: 70px;
  line-height: 105px;
  font-weight: 700;
  color: var(--white);
}

.hero__span {
  color: var(--aqua);
}

.hero__btn {
  margin-top: 10px;
}

.hero__btn:hover {
  background: var(--aqua);
}
